@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Marcellus&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Marcellus", serif;
    background-color: #100e11;
    color: rgb(252, 241, 217);
}

header {
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header a {
    text-decoration: none;
    color: rgb(252, 241, 217);
    text-align: center;
    border-radius: 5px;
    height: 1.4rem;
    transition: box-shadow 0.4s, transform 0.4s;
}

header a:hover, footer a:hover {
    box-shadow: 0px 0px 5px 0.5px rgb(245, 245, 245);
    transform: scale(1.05);
}

.jogos-header {
    display: flex;
    gap: 2.5rem;
}

.maior {
    width: 5.8rem;
}

.menor, footer a {
    width: 4rem;
}