main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
}

.barra-lateral {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 4rem;
    margin-right: 65rem;
}

.barra-lateral button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.4s;
}

.barra-lateral button:hover {
    transform: scale(1.10);
}